.leaflet-container .leaflet-condensed-attribution {
  margin-bottom: 15px;
  padding: 0;
  background: rgb(255 255 255 / 47%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leaflet-condensed-attribution .attributes-body {
  display: none;
  padding: 0 4px 0 12px;
  height: 21px;
  line-height: 21px;
}

.leaflet-condensed-attribution:hover .attributes-body {
  display: inline-block !important;
}

.leaflet-condensed-attribution .attributes-emblem {
  height: 21px;
  width: 28px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
